.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.board div {
    float: left;
    /*    display: inline-block;*/
    height: 80px;
    width: 80px;
}

.board {
    width: 400px;
    border: 3px solid black;
    margin: 100px auto 0;
    /*    font-size: 0px;*/
}

.board div:nth-last-child(even) {
    background-color: black;
}

h1 {
    font-family: arial;
    text-align: center;
}
